
body {
    font:16px/28px 'Microsoft YaHei'
}
h1 {
    font-weight: 400;/*文字不加粗*/
    text-align: center;
}
.gray {
    color: #888888;
    font-size: 12px;
    text-align: center;
}
a {
    text-decoration: none;
}
.search {
    color: #666;
    width: 170px;
}
.btn {
    font-weight: 700;
}
p {
    text-indent: 2em;
}
.pic {
    /*想要图片居中对齐,要让她的父亲p标签居中对齐*/
    text-align: center;
}
.footer {
    color: #888888;
    font-size: 12px;
}
